.hero-image{
    background-image: url("./Te\ Puia\ Resources/20240626_111235.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    font-size: 6rem;
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    size: 50px;
}

img {
    width: 400px;
    height: 600px;
    object-fit: cover;
  }

li {
    float: left;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }